#### [예제 1] 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 end='' 을 이용하여 작성하시오

In [1]:
for i in range(5):
    
    print('*', end='')

*****

#### [예제 2] 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 end='' 을 이용하여 작성하시오

In [2]:
for i in range(5):
    for k in range(5-i):
        print('*', end='')
    print("")

*****
****
***
**
*

#### [예제 3] 2개의 for 문을 이용해 다음과 같이 출력되는 프로그램을 작성하시오.

In [3]:
apt_building = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
unpaid_house = [101, 203, 301, 404] 

for floor in apt_building:
    
    for house in floor:
        
        if house in unpaid_house:
            continue
        else:
            print("delivery: ", house)

delivery:  102
delivery:  103
delivery:  104
delivery:  201
delivery:  202
delivery:  204
delivery:  302
delivery:  303
delivery:  304
delivery:  401
delivery:  402
delivery:  403

#### [예제 4] 짝수 출력하는 다음 코드를 List Comprehension 으로 구현하시오

In [4]:
even_number = [  x  for x in range(10)  if x % 2 == 0 ]

print(even_number)

[0, 2, 4, 6, 8]

#### [예제 5]  my_list = [‘A’, ‘B’, ‘C’, ‘D’]  에서,  for 문과 슬라이싱을 이용하여 첫 번째 데이터를 제외하고 나머지 데이터를 출력하시오

In [5]:
my_list = [ 'A', 'B', 'C', 'D' ]

for data in my_list[1:]:
    
    print(data)

B
C
D

#### [예제 6] my_list = [3, 1, 7, 12, 5, 16]  에서, 3의 배수이거나 4의 배수를 화면에 출력하시오

In [6]:
my_list = [3, 1, 7, 12, 5, 16]  

for data in my_list:
    
    if data % 3 == 0  or  data % 4 == 0:
        
        print(data)

3
12
16

#### [예제 7] test_data= [ [1, 2, 3],  [4, 5, 6],  [7, 8, 9],  [10, 11, 12],  [13, 14, 15] ]  에 대하여, 다음의 값이 나오도록 파이썬 코드를 구현하시오

In [1]:
test_data= [ [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15] ]

In [5]:
data1= [ value[1:-1] for value in test_data ]
data1

[[2], [5], [8], [11], [14]]

In [6]:
data2= [ [ value[0], value[-1] ]  for value in test_data ]
data2

[[1, 3], [4, 6], [7, 9], [10, 12], [13, 15]]

In [7]:
data3 = [ value[-1]   for index, value in enumerate(test_data) if index % 2 ==0  ]
data3

[3, 9, 15]

In [8]:
data4 = [ [value[0]]   for index, value in enumerate(test_data) if index % 2 ==0  ]
data4

[[1], [7], [13]]

In [9]:
data5 = [ [value[1:]]   for index, value in enumerate(test_data) if index % 2 != 0  ]
data5

[[[5, 6]], [[11, 12]]]

In [4]:
tdata

[[10, 20], [1, 2], [100, 200]]

#### [예제 8] test_dir1 디렉토리에 다음과 같은 파일이 있을 때, list comprehension 을 이용하여 cat, dog 등의 동물이름을 추출하시오 

#### (디렉토리 분리자는 윈도우에서는  ‘\\’, 리눅스에서는 ‘/’ )

In [11]:
import glob

files = glob.glob('test_dir1/*')

files

['test_dir1\\cat.6.jpg',
 'test_dir1\\cat.9.jpg',
 'test_dir1\\dog.6316.jpg',
 'test_dir1\\dog.6331.jpg']

In [13]:
animal_name = [ data.split('\\')[1].split('.')[0].strip()  for data in files ]

animal_name

['cat', 'cat', 'dog', 'dog']

#### [예제 9] test_dir2 디렉토리에 다음과 같은 파일이 있을 때, list comprehension 을 이용하여 cat, dog, rabbit, deer 등의 동물이름을 추출하시오 

#### (디렉토리 분리자는 윈도우에서는  ‘\\’, 리눅스에서는 ‘/’ )

In [14]:
import glob

all_files = glob.glob('test_dir2/*')

print(all_files)
print(type(all_files))

animal_name =  [ data.split('\\')[-1].split('.')[1].strip() for data in all_files ]

file_extension = [ data.split('\\')[-1].split('.')[-1].strip() for data in all_files ]

print(animal_name)

print(file_extension)

['test_dir2\\1. cat.6.jpg', 'test_dir2\\10. rabbit.131.jpg', 'test_dir2\\2. cat.9.jpg', 'test_dir2\\3.cat.90.png', 'test_dir2\\4. deer.98.jpg', 'test_dir2\\5. dog.1.png', 'test_dir2\\6.  dog  .6316.jpg', 'test_dir2\\7.dog.6331.jpg', 'test_dir2\\8.rabbit.1.8.jpg', 'test_dir2\\9.  rabbit.  1.8.png']
<class 'list'>
['cat', 'rabbit', 'cat', 'cat', 'deer', 'dog', 'dog', 'dog', 'rabbit', 'rabbit']
['jpg', 'jpg', 'jpg', 'png', 'jpg', 'png', 'jpg', 'jpg', 'jpg', 'png']

In [15]:
all_files = glob.glob('test_dir2/*')

print(all_files)

['test_dir2\\1. cat.6.jpg', 'test_dir2\\10. rabbit.131.jpg', 'test_dir2\\2. cat.9.jpg', 'test_dir2\\3.cat.90.png', 'test_dir2\\4. deer.98.jpg', 'test_dir2\\5. dog.1.png', 'test_dir2\\6.  dog  .6316.jpg', 'test_dir2\\7.dog.6331.jpg', 'test_dir2\\8.rabbit.1.8.jpg', 'test_dir2\\9.  rabbit.  1.8.png']

#### [예제 10] test_dir3 디렉토리에 다음과 같은 파일이 있을 때, list comprehension 과  enumerate 함수를 이용하여 ‘dog’이 포함된 파일 이름만 추출하시오
#### 즉 ‘dog.1.png’ ,  ‘dog.6316.jpg’,  ‘dog.6331.jpg’  항목이 추출되어야 함

In [33]:
all_files = glob.glob('test_dir3/*')

dog_list = [ file_name for file_name in all_files if 'dog' in file_name ]

dog_list

['test_dir3\\dog.1.png', 'test_dir3\\dog.6316.jpg', 'test_dir3\\dog.6331.jpg']

In [35]:
dog_file = []

for index, name in enumerate(dog_list):
    
    file_name = dog_list[index].split('\\')[-1]
    
    dog_file.append(file_name.strip())
    
dog_file

['dog.1.png', 'dog.6316.jpg', 'dog.6331.jpg']

#### [예제 11] 변수 a 값을 예측 하시오

In [7]:
a = [[[]  for  j  in range(3)]  for  i  in range(3)]  

a

[[[], [], []], [[], [], []], [[], [], []]]

In [8]:
first = [[]  for  j  in range(3)]

first

[[], [], []]

In [3]:
second = [ [[], [], []] for  i  in range(3) ]

second

[[[], [], []], [[], [], []], [[], [], []]]

#### [예제 12] 다음과 같은 리스트 변수에 대해서 아래의 결과가 출력되도록 코드를 구현하시오

#### layer_names = [ ‘input’, ‘conv1’, ‘pooling1’, ‘conv2’, ‘flatten’ ] , parameter_nums = [ 0, 64,  64, 128, 512 ]

In [2]:
layer_names = [ 'input', 'conv1', 'pooling1', 'conv2', 'flatten' ]

parameter_nums = [ 0, 64,  64, 128, 512 ]

In [4]:
for index, (layer_name, parameter_num) in enumerate(zip(layer_names, parameter_nums)):
    
    print(index+1, layer_name, parameter_num)

1 input 0
2 conv1 64
3 pooling1 64
4 conv2 128
5 flatten 512